*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-height: 50vh;
    position: relative;

}
#container h1{
    background-color: aqua;
    width: 409px;
    text-align: center;
    padding:20px 15px;
    margin: 10px;
}
#text_in{
    padding:10px;    
}
#container #input{
    border-radius: 5px;
    padding: 10px;
    width:300px;
}
#input:hover{
    border:none;
    outline: 3px solid blue ;
}
#add{
    padding: 10px;
    margin-left: 8px;
    border-radius: 5px;
    width: 100px;
    background-color:rgb(21, 0, 255);
    color:white   
}
#add:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}  
.li_con{
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 409px;
    padding: 5px 6px;
    margin:10px;
}
.span{
    border:none;
    background-color:antiquewhite;
    font-size: 15px;
    margin:5px;
    appearance: none;
	border: none;
	outline: none;
}

.b1{
    padding: 8px;
    width: 65px;
    border-radius: 5px;
    background-color: lightgreen;
    color: white;
    font-size: 15px;
    
}
.b1:hover{
cursor:pointer; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.b2:hover{
    cursor:pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    }
.b2{
    padding: 8px;
    margin-right: 10px;
    margin-left: 7px;
    width: 65px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 15px;


}


